<div class="project-card product-intro">
    <div class="product-title">我们的核心优势</div>
    <div class="product-advantage">
        <div class="product-advantage-item">
            <div class="product-advantage-icon"></div>
            <div class="product-advantage-title">区块链版权确权认证</div>
            <div class="product-advantage-content">
                <div>为艺术品生成独有的</div>
                <div>数字身份。</div>
                <div>创作者可于平台向认证机</div>
                <div>构提交材料后确权成功</div>
                <div>将于区块链上储存登记信息</div>
            </div>
        </div>
        <div class="product-advantage-item">
            <div class="product-advantage-icon-2"></div>
            <div class="product-advantage-title">严选藏品</div>
            <div class="product-advantage-content">
                <div>平台严格筛选藏品</div>
                <div>从众多藏品中选择有升值空间</div>
                <div>版权可靠、合法合规的藏品</div>
                </div>
        </div>
        <div class="product-advantage-item">
            <div class="product-advantage-icon-3"></div>
            <div class="product-advantage-title">免费转赠</div>
            <div class="product-advantage-content">
                <div>用户持有藏品T+1天后</div>
                <div>可以转增给自己的朋友们，</div>
                <div>让数字藏品更好的流动，</div>
                <div>更好的体现其价值</div></div>
        </div>
        <div class="product-advantage-item">
            <div class="product-advantage-icon-4"></div>
            <div class="product-advantage-title">合法合规</div>
            <div class="product-advantage-content">平台严格遵守国家相关政策，
                <div>对发行的藏品严格筛选、</div>
                抵制任何违法违规行为</div>
        </div>
    </div>
</div>
<% page.posts.each(function(post){ %>
  <%- partial('_partial/' + (theme.card_style.home || 'project-card') , { post: post }) %>
<% }) %>
<%- partial('_partial/pagination') %>